server:
  port: 8080

spring:
  application:
    name: api-gateway
  config:
    import: optional:vault://
  cloud:
    vault:
      uri: http://localhost:8200
      token: ${VAULT_TOKEN:root}
      kv:
        enabled: true
        backend: kv
        default-context: api-gateway
      # Routes are configured in GatewayRoutesConfig.java

      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: "*"
            allowed-methods: 
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowed-headers: "*"
            allow-credentials: false

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8081/oauth2/jwks

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics,gateway
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true

logging:
  level:
    root: INFO
    sn.travel.api_gateway: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG
